<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Config -->
    <property name="LOGS" value="./logs"/>
    <springProperty name="CONSOLE_APPENDER" source="logging.console.layout"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Logstash appender -->
    <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Standard text appender, for local development -->
    <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="${CONSOLE_APPENDER:-logstash}"/>
    </root>

    <!-- LOG "eu.greyson*" at TRACE level -->
    <logger name="eu.greyson" level="trace" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="${CONSOLE_APPENDER:-logstash}"/>
    </logger>

</configuration>
